#head {

	background-color: #dddddd;
	border-color: #ffffff;
	text-align: center;
}

#nav {
	background-color: #dddddd;
	float: left;
	border-color: #ffffff;
	height: 80%;
	width: 30%
}

#main {
	
	float: right;
	border-color: #ffffff;
	height: 80%;
	width: 70%
}

footer {
	text-align: center;
}